<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700,700italic" rel='stylesheet' type='text/css'/>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/css/site.css"/>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <title>{{ title }} – Beth McGregor</title>
  </head>
  <body class="flex flex-col min-h-screen antialiased bg-stone-200 text-slate-800"
    x-data="{ isMobileNavOpen: false, headerHover: false }"
    :class="{ 'overflow-hidden': isMobileNavOpen }">
    <div class="container mx-auto px-4 pt-4 md:pt-8">
      <div class="flex justify-between header">
        <div class="flex items-center">
          <a href="/">
            <h3 class="text-2xl font-bold" @mouseover.away="headerHover = false" @mouseover="headerHover = true">
              <span :class="headerHover ? 'text-slate-800' : 'text-emerald-600'">Beth</span>
              <span :class="headerHover ? 'text-emerald-600' : 'text-slate-800'">McGregor</span>
            </h3>
          </a>
        </div>

        <div class="flex items-center justify-between">

          <button x-on:click.prevent="isMobileNavOpen = !isMobileNavOpen"
              x-bind:aria-label="isMobileNavOpen ? 'Close main menu' : 'Main menu'"
              aria-label="Main menu"
              x-bind:aria-expanded="isMobileNavOpen">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-slate-800 hover:text-emerald-600 lg:hidden" fill="none"
                  viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M4 6h16M4 12h16M4 18h16"/>
            </svg>
          </button>
          <div class="hidden space-x-6 lg:inline-block text-2xl font-bold">
            <a href="/resume" {% if 'resume' in page.url %} aria-current="page"{% endif %}>Resume</a>
            <a href="/projects" {% if 'projects' in page.url %} aria-current="page"{% endif %}>Projects</a>
          </div>

          <div class="mobile-navbar">
            <div class="fixed left-0 w-full p-5 bg-stone-300  shadow-xl top-16" x-show="isMobileNavOpen"
                        @click.away=" isMobileNavOpen = false"
                        x-cloak
                        >
              <div class="flex flex-col space-y-6 font-bold ">
                <a href="/" class="text-sm">Home</a>
                <a href="/resume" {% if 'resume' in page.url %} aria-current="page"{% endif %} class="text-sm">Resume</a>
                <a href="/projects" {% if 'projects' in page.url %} aria-current="page"{% endif %}  class="text-sm">Projects</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    {{ content | safe }}
    <footer class="mt-8 p-4 text-center">
        <span class="text-sm text-slate-500 sm:text-center dark:text-gray-400">
          © 2022 Elizabeth McGregor.
          All Rights Reserved.
        </span>
    </footer>
  </body>
</html>